<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');
        const targetId = urlParams.get('highlight');

        if (status) {
            let title = '';
            let type = 'success';
            
            switch (status) {
                case 'them':
                    title = 'Đã thêm thành công!';
                    break;
                
                case 'sua':
                    title = 'Đã sửa thành công!';
                    break;

                case 'xoa':
                    title = 'Đã xóa thành công!';
                    break;
                case 'resetpass':
                    title = 'Đã đặt lại mặt khẩu thành giống tên tài khoản!';
                    break;

                case 'sdtfail': 
                    title = 'Số điện thoại bị trùng';
                    type = 'failure';;
                    break;

                case 'cmndfail': 
                    title = 'CCCD bị trùng';
                    type = 'failure';;
                    break;
                case 'fail': 
                    title = 'Không thành công';
                    type = 'failure';;
                    break;

                default:
                    return; 
            }
            showNotification(type, title,);
        }
        if (targetId) {
            const row = document.getElementById("nguoidung-" + targetId);
            
            if (row) {
                row.scrollIntoView({ behavior: "smooth", block: "center" });
                
                row.classList.add("highlight-row");
                
            }
        }
        const newUrl = window.location.pathname;
        window.history.replaceState(null, null, newUrl);
    });
</script>

<div class="container my-5" style="margin-top: 60px !important;">

    <div class="search-bar-container">
        <form action="/admin/nguoidung" method="get" class="input-group search-box" >
            <span class="input-group-text bg-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="Nhập nội dung cần tìm" name="searchND" value="{{search}}">
            <button class="btn btn-main" type="submit">Tìm kiếm</button>
        </form>
        <button class="btn btn-main"
            data-status="them"
        onclick="ThemNguoiDung()">Thêm người dùng</button>
    </div>
    {{#if empty}}
        <h3 class="text-center text-muted">Không có người dùng nào trong danh sách!</h3>
    {{else}}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Phòng</th>
                    <th>Tên Người Dùng</th>
                    <th>SĐT</th>
                    <th>Địa chỉ</th>
                    <th>Chi tiết</th> 
                </tr>
            </thead>
            <tbody>
                {{#each dsNguoiDung}}
                <tr id="nguoidung-{{this.MaND}}">
                    <td>{{this.TenPhong}}</td>
                    <td>{{this.HoTen}}</td>
                    <td>{{this.SDT}}</td>
                    <td>{{this.ThuongTru}}</td>
                    <td>
                        <a class="link-detail" 
                            onclick="SuaNguoiDung('{{this.MaND}}')">
                            Xem chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</div>

{{!-- Xóa --}}
<div class="form-nguoidung-xn-cover form-cover z-3 fixed-top d-none justify-content-center align-items-center" 
onclick="closeForm('.form-nguoidung-xn-cover')">
    <div class="p-3 rounded-2 w-auto h-auto position-relative" 
    onclick="event.stopPropagation()" 
    style="background-color: #E8E8E8; min-width: 400px; margin-top: 60px;">
        {{!-- Nút đóng form --}}
        <button 
        class="btn btn-close position-absolute top-0 end-0 m-0 me-1 mt-1 btn-danger fw-bolder" 
        onclick="closeForm('.form-nguoidung-xn-cover')"></button>
        <h3 class="form-nguoidung-xn-title text-center text-success mb-4">Xóa Người Dùng</h3>

        <form class="form-nguoidung-xn" action="" method="POST" >
            <input type="hidden" name="HinhNDxn">
            <div class="text-center">
                <button class="btn-xn btn btn-success px-4" type="submit">Đồng ý</button>
                {{!-- Nút hủy xóa --}}
                <button class="btn btn-delete px-4" style="width: auto; margin-left: 10px;" type="reset" 
                onclick="closeForm('.form-nguoidung-xn-cover')">Hủy</button>
            </div>
        </form>
    </div>
</div>