<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 1. Lấy tham số 'status' trên thanh địa chỉ
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');

        // 2. Kiểm tra: Chỉ chạy nếu status có giá trị
        if (status) {
            let title = '';
            let type = 'success';
            
            switch (status) {
                case 'them':
                    title = 'Đã thêm thành công!';
                    break;
                
                case 'sua':
                    title = 'Đã sửa thành công!';
                    break;

                case 'xoa':
                    title = 'Đã xóa thành công!';
                    break;
                case 'resetpass':
                    title = 'Đã đặt lại mặt khẩu thành giống tên tài khoản!';
                    break;

                case 'sdtfail': 
                    title = 'Số điện thoại bị trùng';
                    type = 'failure';;
                    break;

                case 'cmndfail': 
                    title = 'CCCD bị trùng';
                    type = 'failure';;
                    break;
                case 'fail': 
                    title = 'Không thành công';
                    type = 'failure';;
                    break;

                default:
                    // NẾU KHÔNG PHẢI CÁC TRƯỜNG HỢP TRÊN -> DỪNG (RETURN)
                    // Không hiện popup, không làm gì cả
                    return; 
            }

            // 4. Hiện Popup (Chỉ chạy khi code không bị return ở trên)
            showNotification(type, title,);

            // 5. Dọn dẹp URL (Xóa chữ ?status=... để F5 không bị hiện lại)
            const newUrl = window.location.pathname;
            window.history.replaceState(null, null, newUrl);
        }
    });
</script>

<div class="container my-5" style="margin-top: 60px !important;">

    <div class="search-bar-container">
        <form action="/admin/nguoidung" method="get" class="input-group search-box">
            <span class="input-group-text bg-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="Nhập nội dung cần tìm" name="searchND" value="{{search}}">
            <button class="btn btn-main" type="submit">Tìm kiếm</button>
        </form>
        <button class="btn btn-main"
            data-status="them"
        onclick="ThemNguoiDung()">Thêm người dùng</button>
    </div>
    {{#if empty}}
        <h3 class="text-center text-muted">Không có người dùng nào trong danh sách!</h3>
    {{else}}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Phòng</th>
                    <th>Tên Người Dùng</th>
                    <th>SĐT</th>
                    <th>Địa chỉ</th>
                    <th>Chi tiết</th> 
                </tr>
            </thead>
            <tbody>
                {{#each dsNguoiDung}}
                <tr>
                    <td>{{this.TenPhong}}</td>
                    <td>{{this.HoTen}}</td>
                    <td>{{this.SDT}}</td>
                    <td>{{this.ThuongTru}}</td>
                    <td>
                        <a class="link-detail" 
                            onclick="SuaNguoiDung('{{this.MaND}}')">
                            Xem chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</div>
{{!-- Thêm --}}
{{!-- Sửa --}}
<div class="form-nguoidung-cover form-cover z-3 fixed-top d-none justify-content-center" 
onclick="closeForm('.form-nguoidung-cover')">
    <div class="p-3 rounded-2 w-auto position-relative" 
    onclick="event.stopPropagation()" 
    style=" background-color: #E8E8E8; min-width: 400px; height: fit-content;">
        
        {{!-- Nút đóng form --}}
        <button class="btn btn-close position-absolute top-0 end-0 m-0 me-1 mt-1 btn-danger fw-bolder"
         onclick="closeForm('.form-nguoidung-cover')"></button>

        <h3 class="form-nguoidung-title text-center text-success mb-4">a</h3>

        <form class="form-nguoidung" action="/admin/nguoidung" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="MaND">
            <input type="hidden" name="HinhNDCu">

            <div class="d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/img/logo.png" height="230" width="150" class="AVTND border rounded-3"
                     style="object-fit: cover; object-position: center;" alt="Ảnh đại diện">
                    </div>
                <div class="ms-2 w-100">
                    <div class="mb-3">
                        <label class="form-label">Họ tên:</label>
                        <input type="text" name="HoTenND" class="form-control" placeholder="Nhập họ tên">
                        <small class="text-danger d-none" id="HoTenNDError">a</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CMND:</label>
                        <input type="text" name="CMNDND" class="form-control" placeholder="Nhập căn cước công dân">
                        <small class="text-danger d-none" id="CMNDNDError">a</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Năm sinh:</label>
                        <input type="date" name="NamSinhND" class="form-control" placeholder="Chọn năm sinh">
                        <small class="text-danger d-none" id="NamSinhNDError">a</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">SDT:</label>
                        <input type="text" name="SDTND" class="form-control" placeholder="Nhập số điện thoại">
                        <small class="text-danger d-none" id="SDTNDError">a</small>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Thường trú:</label>
                <input type="text" name="ThuongTruND" class="form-control" placeholder="Nhập địa chỉ thường trú">
                <small class="text-danger d-none" id="ThuongTruNDError">a</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Ảnh người dùng:</label>
                <input type="file" name="HinhND" class="form-control" placeholder="Chọn ảnh"  onchange="xemThuAnh(this,'.AVTND')">
                <small class="text-danger d-none" id="HinhNDError">Hãy chọn 1 ảnh</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Vai trò:</label>
                <select class="form-select" name="QuyenND">
                    <option value="">Chọn vai trò</option>
                    <option value="admin">Chủ trọ</option>
                    <option value="user">Người thuê</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-success px-4" name="btnLuuND" value="1" type="submit">Lưu Thông Tin</button>
                {{!-- Đặt lại mật khẩu --}}
                <button class="btn btn-delete px-4 btnDatLaiMK" name="btnDatLaiMK"
                type="button"
                data-id=""
                style="width: auto; margin-left: 10px;"
                onclick="DLMKNguoiDung(this)">Đặt lại mật khẩu</button>
                {{!-- Xóa --}}
                <button type="button"
                class="btn btn-danger px-4 btnXoaND" name="btnXoaND" 
                data-id=""
                data-hinh=""
                style="width: auto; margin-left: 10px;" 
                onclick="XoaNguoiDung(this)">Xóa</button>
            </div>
        </form>
    </div>
</div>
{{!-- Xóa --}}
<div class="form-nguoidung-xn-cover form-cover z-3 fixed-top d-none justify-content-center align-items-center" 
onclick="closeForm('.form-nguoidung-xn-cover')">
    <div class="p-3 rounded-2 w-auto h-auto position-relative" 
    onclick="event.stopPropagation()" 
    style="background-color: #E8E8E8; min-width: 400px; margin-top: 60px;">
        {{!-- Nút đóng form --}}
        <button 
        class="btn btn-close position-absolute top-0 end-0 m-0 me-1 mt-1 btn-danger fw-bolder" 
        onclick="closeForm('.form-nguoidung-xn-cover')"></button>
        <h3 class="form-nguoidung-xn-title text-center text-success mb-4">Xóa Người Dùng</h3>

        <form class="form-nguoidung-xn" action="" method="POST">
            <input type="hidden" name="HinhNDxn">
            <div class="text-center">
                <button class="btn-xn btn btn-success px-4" type="submit">Đồng ý</button>
                {{!-- Nút hủy xóa --}}
                <button class="btn btn-delete px-4" style="width: auto; margin-left: 10px;" type="reset" 
                onclick="closeForm('.form-nguoidung-xn-cover')">Hủy</button>
            </div>
        </form>
    </div>
</div>